<mart>
    <business-name>BABUN PUSINGAN ${clientBusinessName}</business-name>
    <connection>
        <driver>com.microsoft.sqlserver.jdbc.SQLServerDriver</driver>
        <url>jdbc:sqlserver://10.188.207.161:1433;DatabaseName=BABUN_PUSINGAN_CLIENT${client}</url>
        <username>BABUN${clientUser}</username>
        <password>BABUN${clientPassword}123</password>
        <maxConnection>2</maxConnection>
        <validationQuery>SELECT 1</validationQuery>
    </connection>
</mart>